.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--size, var(--default-side-length)));
  grid-auto-rows: var(--size, var(--default-side-length));
  justify-content: center;
}

.grid--no-interaction {
  pointer-events: none;
}
