.grid__parent {
  width: var(--width);
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.grid {
  min-width: calc(100% + 2 * var(--size, var(--default-side-length)));
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    var(--size, var(--default-side-length))
  );
  grid-auto-rows: var(--size, var(--default-side-length));
  justify-content: center;
}
