:root {
  --color-0: #f94144ff;
  --color-1: #f3722cff;
  --color-2: #f8961eff;
  --color-3: #f9844aff;
  --color-4: #f9c74fff;
  --color-5: #90be6dff;
  --color-6: #43aa8bff;
  --color-7: #4d908eff;
  --color-8: #577590ff;
  --color-9: #277da1ff;

  --default-color: red;
  --default-side-length: 6vmin;
}

body {
  overflow: hidden;
}

.grid {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-width: 100vh;
  display: grid;
  grid-template-columns: repeat(var(--count, 10), var(--size, var(--default-side-length)));
  grid-auto-rows: var(--size, var(--default-side-length));
}

.grid__square {
  width: var(--side-length, var(--default-side-length));
  height: var(--side-length, var(--default-side-length));
  background: var(--color, var(--default-color));
}
